*{
    margin: 0;
    padding: 0;
}
  .slider {
    width: 300px;
    text-align: center;
    overflow: hidden;
    margin-top: 80px;
    margin-left: 10%;
    padding-bottom: 10%;
  }
  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .slider > a:active {
    top: 1px;
    color: #1c87c9;
  }
  .slider > a:focus {
    background: #eee;
  }
  /* Don't need button navigation */
  @supports (scroll-snap-type) {
    .slider > a {
      display: none: ;
    }
  }
  
  #header .imgg{
    width: 40%;
    height: auto;
  }
  
 

  #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li a svg{
    width: 25px;
    height: auto;
    margin-top: 3px;
}

#navbar li a svg,
#navbar li a.active{
    color:white;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgba(208, 30, 30, 0.63);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
}

#navbar li a:hover,
#navbar li a.active{
    color:white;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -4px;
    left: 20px;
}



.footer{
    background: rgba(208, 30, 30, 0.63);
    font-family: 'Play', sans-serif;
    text-align:center;
    height: 190px;
    }

    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:black;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:black;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }